ZYRON_ROLE=__OPERATOR_ROLE__
ZYRON_REGION=__OPERATOR_REGION__
ZYRON_NETWORK_NAME=Zyron Public Testnet
ZYRON_CHAIN_ID=zyron-public-testnet-1
ZYRON_PUBLIC_RPC_ORIGIN=
ZYRON_BOOTSTRAP_PORT=
ZYRON_CONSENSUS_BIND=
ZYRON_METRICS_BIND=
ZYRON_PUBLIC_TESTNET_ACTIVATION_ALLOWED=false
ZYRON_PUBLIC_MINING_ACTIVATED=false
ZYRON_PUBLICATION_ALLOWED=false
ZYRON_MAINNET_ACTIVATION_ALLOWED=false
